pkgbase = mpg-bin
	pkgdesc = Mark's Password Generator
	pkgver = 1.2.3
	pkgrel = 1
	url = https://mcornick.com/mpg/
	license = MIT
	conflicts = mpg
	provides = mpg
	arch = aarch64
	source_aarch64 = https://github.com/mcornick/mpg/releases/download/v1.2.3/mpg_1.2.3_linux_arm64.tar.gz
	sha256sums_aarch64 = 1800c6d8bf2f61330b4e0617ccbfdb12242d3e28f0e8ae76b968fd5d46e65d8d
	arch = armv6h
	source_armv6h = https://github.com/mcornick/mpg/releases/download/v1.2.3/mpg_1.2.3_linux_armv6.tar.gz
	sha256sums_armv6h = 705100fd4c3b56a7da0fa11f4e1d0f5130697d59aadfa1ec46b894e7262bfb42
	arch = i686
	source_i686 = https://github.com/mcornick/mpg/releases/download/v1.2.3/mpg_1.2.3_linux_386.tar.gz
	sha256sums_i686 = 8cd4cc82ebe56a8ebc377c7f83e47c04806c6a6599b56c63b9671f4a4e17e275
	arch = x86_64
	source_x86_64 = https://github.com/mcornick/mpg/releases/download/v1.2.3/mpg_1.2.3_linux_amd64.tar.gz
	sha256sums_x86_64 = 20e1b83a8d470e25acb8851eb2dd78b985afd220e4f1db77602f69ef483211a0
	
pkgname = mpg-bin
